<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Kerakli meta "tag"lar -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
  <link rel="stylesheet" href="/style.css" />
  <title>Admin ma'lumotlarini</title>
</head>

<body>
  <div style="width: 90%;" class="container red-container alert-info">
    <h1>Admin ma'lumotlarini to'ldirish:</h1>
    <div class="alert alert-secondary" role="alert">
      Test ishlovchilarga sizning testingizning muallifi sifatida siz kiritga
      ism familiya ko'rsatiladi!
      <div class="form-floating mb-3">
        <input type="name" class="form-control" id="ism" placeholder="Ismingiz?" />
        <label for="ism">Ismingiz?</label>
      </div>
      <div class="form-floating mb-3">
        <input type="name" class="form-control" id="familya" placeholder="Familyangiz?" />
        <label for="familya">Familyangiz?</label>
      </div>
      Test yaratmoqchi bo'lgan fanningizni nomi kiriting!
      <div class="form-floating mb-3">
        <input type="name" class="form-control" id="fanNomi" placeholder="Fan nomi" />
        <label for="fanNomi">Fan nomi</label>
        <!-- </div>
      Savollar sonini kiriting!
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="soni" />
        <label for="floatingInput">Testlar soni?</label>
      </div> -->

        <i style="color: red">Har bir test savoli uchun 15 soniya vaqt beriladi! Ushbu shartga
          rozimisiz?</i>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="check" />
          <label class="form-check-label" for="check" style="color: blue">Roziman!</label>
        </div>
      </div>
      <form action="/create/" method="post">
        <div id="asd" class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary btn-success" id="btn" disabled="true">
            Boshlash
          </button>
        </div>
      </form>
    </div>
    <script>
      let A = ["ism", "familya", "fanNomi"];
      let func = () => {
        for (let i = 0; i < A.length; i++) {
          if (document.getElementById(A[i]).value.length < 4)
            return false;
        }
        return true;
      }
      //  setTimeout(()=>{
      //    func();
      //  },100)
      document.getElementById("check").addEventListener("click", (e) => {
        console.log("chacking " + e.target.checked);
        if (func()) {
          if (e.target.checked) {
            document.getElementById("btn").disabled = false;
          }
          else {
            document.getElementById("btn").disabled = true;
          }
        }
        else {
          alert("Barcha maydonlarga kiritilgan belgilar soni 4 tadan kam bo'lmasligi kerak!");
          location.reload();
        }
      }
      );
    </script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"></script>
</body>

</html>